Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [35]:
import pandas as pd
import numpy as np

In [3]:
log = pd.read_csv('dops/visit_log.csv', sep=';')


def source_type(row):
    if row['traffic_source'] in {'yandex', 'google'}:
        return 'organic'
    if row['traffic_source'] in {'paid', 'email'}:
        if row['region'] == 'Russia':
            return 'ad'
        else:
            return 'other'
    return row['traffic_source']


log['source_type'] = log.apply(source_type, axis=1)
log[log['traffic_source'] == 'paid']

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
26,1549980852,659d36ca56,https://host.ru/4adc8a29b212051b04,Russia,c4bd1ae3af,paid,ad
...,...,...,...,...,...,...,...
18917,1550094207,fe72854d1a,https://host.ru/39fa884393666d45fc,Belarus,a8ad1b60af,paid,other
18927,1550094245,1e0d086733,https://host.ru/c2382eb3d6afc8d0f3,Ukraine,10c296a6a4,paid,other
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad

Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [18]:
log = pd.read_csv('dops/URLs.txt')
log.head()
log[log['url'].str.contains('/[0-9]{8}-', regex=True)].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

Задание 3

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [59]:
log = pd.read_csv('dops/ml-latest-small/ratings.csv', sep=',')
#log.head()
log = log.groupby(['userId']).agg({'timestamp' : lambda x: x.max() - x.min(), 'rating' : np.count_nonzero})
log['timestamp'].loc[log.rating >= 100].mean()

39331748.56653992

Задание 4

Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).
Необходимо сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [60]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
#rzd
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
#auto
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
#air
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1',
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
#client_base

In [71]:
revenue_base = pd.merge(client_base, rzd, how='left')
revenue_base = pd.merge(revenue_base, auto, how='left')
revenue_base = pd.merge(revenue_base, air, how='left')
#revenue_base
#revenue_base.groupby('client_id').sum()
revenue_base.groupby(['client_id', 'address']).sum()

                           rzd_revenue  auto_revenue  air_revenue
client_id address
111       Комсомольская 4       1093.0           0.0          0.0
112       Энтузиастов 8а        2810.0           0.0          0.0
113       Левобережная 1а      10283.0       57483.0          0.0
114       Мира 14               5774.0          83.0          0.0
115       ЗЖБИиДК 1              981.0         912.0         81.0
116       Строителей 18            0.0        4834.0          4.0
117       Панфиловская 33          0.0          98.0         13.0
118       Мастеркова 4             0.0           0.0        173.0